@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

.noteStyle { 
    color: darkblue;
    font-family: 'DM Serif Display', serif; 
}
.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }